@import '../app/styles/animations.styl'
@import '../app/styles/vars.styl'

.ui-event
  ui-button()

  display block
  text-align left
  margin-bottom 10px
  margin-right 10px
  padding 0 0 10px

  img
    border none

  .ui-event-image
    float left
    margin-right 15px

    &, a
      display block
      height 75px
      width 75px

  .ui-event-info
    float left
    width 345px

  .ui-event-cleaner
    clear both
