*.sublime-workspace
.DS_Store
.idea
bower_components
build
coverage
dist
node_modules
/conf
/assets/bower
npm-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
