@import '../../app/styles/animations.styl'
@import '../../app/styles/vars.styl'

.ui-section-shows
  background-color col-section-bg
  max-height 1328px
  min-height 900px

  .ui-browser
    box()
    margin 0 auto
    max-width 1000px
