@import '../../app/styles/animations.styl'
@import '../../app/styles/vars.styl'

.ui-event
  ui-button()

  display block
  text-align left
  margin-bottom 10px
  padding 0 0 10px

  &:last-child
    border-bottom none
    margin-bottom 0

  img
    border none
    width 100%

  .ui-event-cleaner
    clear both
