@import '../../app/styles/animations.styl'
@import '../../app/styles/vars.styl'

.event-location
  vertical-align top

  .location-name
    font-size 20px

  .location-addr,
  .location-site
    line-height 20px
    margin-left 10px
