@import '../../app/styles/animations.styl'
@import '../../app/styles/vars.styl'

.event-duration
  vertical-align top

  .end-date,
  .start-date,
  .event-duration-separator,
  .event-start
    margin-right 1ex

    &:last-child
      margin-right 0

  .event-duration-separator,
  .event-start,
  .event-end
    display inline-block
