@import '../../app/styles/vars.styl'

.site-menu
  fix-transition()
  background black-fade-bg
  height 32px
  left 0
  right 0
  padding 10px 0 0
  position fixed
  top 0
  z-index 666

  li
    display inline-block

  &:hover
    background black-dimm-bg

  .site-menu-center
    margin 0 auto
    position relative

  .site-menu-inner
    margin 0 auto
    text-align center

    a
      fix-transition(speed-fast)
      border-bottom 1px solid transparent
      color white-full
      display inline-block
      font-family 'metace'
      font-size 14px
      margin-right 5px
      opacity .75
      padding 4px 12px 5px
      text-decoration none
      text-shadow 0 0 3px #000, 0 0 6px #000

      &:hover,
      &.opacity
        opacity 1

      &:hover
        border-color white-full

      &.active
        border-color white-dimm-bg
