@import '../../app/styles/animations.styl'
@import '../../app/styles/vars.styl'

.ui-section-contact
  background-color col-section-bg
  background-image url(/assets/pixmaps/bg/contact.jpg)
  max-height 1328px
  min-height 900px

  .ui-contact-form
    box()
    margin 0 auto
    width 500px
