@import '../../app/styles/vars.styl'
@import '../section.styl'

.site-header
  background-image url(/assets/pixmaps/bg/home.jpg)
  position relative

  .ui-section.home-logo
    min-height 0
    position absolute
    left 0
    right 0
    width auto

  .ui-site-intro
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

