@import '../../app/styles/vars.styl'
@import '../section.styl'

.site-header
  background url(/assets/pixmaps/bg/home.jpg) center top no-repeat

  .ui-section.home-logo
    min-height 0
    position absolute
    left 0
    right 0
    width auto
