@import './vars.styl'

button,
.button
  ui()
  background button-fg
  border none
  border-radius 3px
  color #fff
  display inline-block
  font-size 14px
  font-weight bold
  line-height 15px
  padding 7px 14px
  text-decoration none

  &:hover,
  &:active
    background button-hover


.ui-button
  ui-button()

  border-width 1px
  border-radius 4px
