@font-face
  font-family 'Open Sans'
  src url('/assets/bower/open-sans/fonts/light/opensans-light-webfont.eot')
  src url('/assets/bower/open-sans/fonts/light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/bower/open-sans/fonts/light/opensans-light-webfont.woff') format('woff'), url('/assets/bower/open-sans/fonts/light/opensans-light-webfont.ttf') format('truetype'), url('/assets/bower/open-sans/fonts/light/opensans-light-webfont.svg#OpenSansLight') format('svg')
  font-weight 300
  font-style normal

@font-face
  font-family 'Open Sans'
  src url('/assets/bower/open-sans/fonts/light-italic/opensans-light-italic-webfont.eot')
  src url('/assets/bower/open-sans/fonts/light-italic/opensans-light-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/bower/open-sans/fonts/light-italic/opensans-light-italic-webfont.woff') format('woff'), url('/assets/bower/open-sans/fonts/light-italic/opensans-light-italic-webfont.ttf') format('truetype'), url('/assets/bower/open-sans/fonts/light-italic/opensans-light-italic-webfont.svg#OpenSanslightItalic') format('svg')
  font-weight 300
  font-style italic

@font-face
  font-family 'Open Sans'
  src url('/assets/bower/open-sans/fonts/regular/opensans-regular-webfont.eot')
  src url('/assets/bower/open-sans/fonts/regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/bower/open-sans/fonts/regular/opensans-regular-webfont.woff') format('woff'), url('/assets/bower/open-sans/fonts/regular/opensans-regular-webfont.ttf') format('truetype'), url('/assets/bower/open-sans/fonts/regular/opensans-regular-webfont.svg#OpenSansRegular') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Open Sans'
  src url('/assets/bower/open-sans/fonts/regular-italic/opensans-regular-italic-webfont.eot')
  src url('/assets/bower/open-sans/fonts/regular-italic/opensans-regular-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/bower/open-sans/fonts/regular-italic/opensans-regular-italic-webfont.woff') format('woff'), url('/assets/bower/open-sans/fonts/regular-italic/opensans-regular-italic-webfont.ttf') format('truetype'), url('/assets/bower/open-sans/fonts/regular-italic/opensans-regular-italic-webfont.svg#OpenSansRegularItalic') format('svg')
  font-weight normal
  font-style italic

@font-face
  font-family 'Open Sans'
  src url('/assets/bower/open-sans/fonts/semibold/opensans-semibold-webfont.eot')
  src url('/assets/bower/open-sans/fonts/semibold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/bower/open-sans/fonts/semibold/opensans-semibold-webfont.woff') format('woff'), url('/assets/bower/open-sans/fonts/semibold/opensans-semibold-webfont.ttf') format('truetype'), url('/assets/bower/open-sans/fonts/semibold/opensans-semibold-webfont.svg#OpenSansSemibold') format('svg')
  font-weight 500
  font-style normal

@font-face
  font-family 'Open Sans'
  src url('/assets/bower/open-sans/fonts/semibold-italic/opensans-semibold-italic-webfont.eot')
  src url('/assets/bower/open-sans/fonts/semibold-italic/opensans-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/bower/open-sans/fonts/semibold-italic/opensans-semibold-italic-webfont.woff') format('woff'), url('/assets/bower/open-sans/fonts/semibold-italic/opensans-semibold-italic-webfont.ttf') format('truetype'), url('/assets/bower/open-sans/fonts/semibold-italic/opensans-semibold-italic-webfont.svg#OpenSansSemiboldItalic') format('svg')
  font-weight 500
  font-style italic

@font-face
  font-family 'Open Sans'
  src url('/assets/bower/open-sans/fonts/bold/opensans-bold-webfont.eot')
  src url('/assets/bower/open-sans/fonts/bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/bower/open-sans/fonts/bold/opensans-bold-webfont.woff') format('woff'), url('/assets/bower/open-sans/fonts/bold/opensans-bold-webfont.ttf') format('truetype'), url('/assets/bower/open-sans/fonts/bold/opensans-bold-webfont.svg#OpenSansBold') format('svg')
  font-weight 600
  font-style normal

@font-face
  font-family 'Open Sans'
  src url('/assets/bower/open-sans/fonts/bold-italic/opensans-bold-italic-webfont.eot')
  src url('/assets/bower/open-sans/fonts/bold-italic/opensans-bold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/bower/open-sans/fonts/bold-italic/opensans-bold-italic-webfont.woff') format('woff'), url('/assets/bower/open-sans/fonts/bold-italic/opensans-bold-italic-webfont.ttf') format('truetype'), url('/assets/bower/open-sans/fonts/bold-italic/opensans-bold-italic-webfont.svg#OpenSansBoldItalic') format('svg')
  font-weight bold
  font-style italic
