a
  fix-transition()
  color link-normal
  text-decoration none

  img
    border 2px solid link-normal
    opacity .8
    display block

  &:active,
  &:hover
    color link-hover
    text-decoration underline

    img
      border-color link-hover
      opacity 1
