// Remember to use rems and ems. http://css-tricks.com/rems-ems.

@import '../../../../node_modules/normalize.css/normalize.css'
@import './vars.styl'
@import './fonts.styl'

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
*
  -webkit-tap-highlight-color rgba(0,0,0,0)

// Goodness.
*, ::after, ::before
  box-sizing border-box

:focus {outline:none}
::-moz-focus-inner {border:0}

html,
body
  background page-bg
  padding 0
  margin 0
  min-width 400px
  min-height 400px
  height 100%

#app,
.page
.page-home
  height:100%

body
  color text-normal
  font-family 'Open Sans','sans-serif'
  font-weight 300
  font-size 16px
  line-height 1.5

.cleaner
  clear both
  display block

.ui-page
  padding-top 60px
  padding-bottom 30px

.page-wrapper
  height 100%

@import './footer.styl'
@import './text.styl'
@import './links.styl'
@import './buttons.styl'
@import './forms.styl'
@import './inputs.styl'
