button-fg = #b82429
button-hover = #8E1015

page-bg = #000
footer-bg = #292929

text-normal = #fff
text-shadow = #000

link-normal = #EFC800
link-hover = #fff

input-bg = text-normal
input-text-normal = #666
input-text-active = page-bg

button-text-normal = text-normal
button-text-hover = link-hover

box-padding = 20px 30px
box-border-radius = 5px

speed-slow = .5s
speed-neutral = .3s
speed-fast = .2s

screen-xs-min = 480px
screen-sm-min = 768px
screen-md-min = 992px
screen-lg-min = 1200px
screen-xl-min = 1500px


fix-transition(time = speed-fast, mode = linear)
  -webkit-transition all time mode
  -moz-transition all time mode
  -o-transition all time mode
  -ms-transition all time mode
  transition all time mode


box()
  padding box-padding
  background black-dimm-bg
  border-radius box-border-radius

circle(w, rh = 3, rv = 4)
  border-radius w
  height w - w/rv
  padding w/rv/2 w/rh/2
  width w - w/rh


fix-animation(animate)
  -ms-animation animate
  -webkit-animation animate
  -moz-animation animate
  animation animate


user-select-none()
  -moz-user-select none
  -webkit-user-select none
  -o-user-select none
  -ms-user-select none
  user-select none

ui()
  fix-transition(.2s)
  cursor pointer


active-ui()
  ui()
  opacity .5

  & hover
    opacity 1

ui-button()
  ui()

  border-color rgba(link-normal, .25)
  border-style solid
  border-width 0
  border-bottom-width 1px
  color button-text-normal
  padding 10px 15px

  &:active,
  &:hover
    background rgba(text-normal, 0.05)
    border-color button-text-hover
    color button-text-hover


