@import '../app/styles/vars.styl';

.ui-tabman

  .ui-tabman-button
    ui-button()
    display inline-block
    margin 0 10px 0 0

  .ui-tabman-tab
    display none

    &.active
      display:block;
