@import '../../app/styles/vars.styl'

.ui-team-item
  margin-bottom 20px

  .team-inner,
  .team-name
    background #333

  .team-inner
    border-radius 100%
    display block
    margin 0 auto
    max-width 240px
    padding 3px

  .team-border
    border-radius 100%
    overflow hidden
    position relative

  .team-name
    bottom 0
    color text-normal
    font-weight 500
    left 0
    padding 5px 0 10px
    position absolute
    right 0

  img
    border none
    height 100%
    width 100%
